@media screen {
  body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
  }
  * {
    font-family: -apple-system, 'Helvetica Neue', 'Arial', 'Tahoma';
    box-sizing: border-box;
  }
  body > .flex {
    align-items: center;
  }
  .flex {
    display: flex;
  }
  #qr {
    order: 2;
  }
  .flex > * {
    flex: 1 50%;
    box-sizing: border-box;
    font-size: 1em;
  }
  .center {
    text-align: center;
    margin: 2rem 0;
  }
  .center:empty::after {
    content: 'QR Code…';
    color: grey;
    line-height: 12rem;
    min-height: 12rem;
    display: block;
  }
  #about {
    margin: 0 1em;
    text-align: center;
    border-top: thin solid #ddd;
  }
  button[type=submit] {
    max-width: 30vw;
    margin: 0.5em 0;
    cursor: pointer;
  }
  .form {
    order: 1;
    text-align: center;
  }
  form.flex {
    flex-wrap: wrap;
    max-width: 50vw;
    justify-content: center;
    align-items: center;
  }
  label {
    text-align: right;
    padding-right: 1em;
  }
  form.flex > label, form.flex > input {
    flex: 1 1 40%;
  }
  form.flex > button {
    flex: 0 0 100%;
  }
  button#installer {
    background: url(../images/icon-180.5eb5df2f16cbe133de6e.png) left no-repeat;
    font-family: -apple-system, 'Helvetica Neue', 'Arial', 'Tahoma';
    position: absolute;
    background-color: navy;
    top: 0;
    right: 0;
    margin: 1em;
    border: thin solid white;
    border-radius: 0.2em;
    color: #fffff0;
    font-size: 1.5em;
    line-height: 1.5em;
    height: 2em;
    background-size: 2em 2em;
    padding-left: 2.5em;
    padding-right: 0.5em;
    cursor: pointer;
  }
}

@media screen and (max-width:650px) {
  body > .flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  #qr {
    flex: 0 0 100%;
    order: 0;
  }
  .form {
    flex: 0 0 100%;
    order: 0;
    margin: 2em;
  }
  form.flex {
    max-width: unset;
  }
  input {
    margin-right: 10vw;
  }
}

img {
  animation: pop 0.35s;
  animation-timing-function: ease-out;
}
@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@media print {
  * {
    margin: 0;
    box-sizing: border-box;
  }
  div.form, #about {
    display: none;
  }
  body > .flex {
    height: 100vh;
    width: 100vw;
  }
  .center {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
  }
}