/* stylesheets/index.css */
@media screen {
  body {
    background-color: #8b2e62;
    margin: 0;
    height: 100vh;
  }
  * {
    font-family:
      -apple-system,
      "Helvetica Neue",
      "Arial",
      "Tahoma";
    box-sizing: border-box;
  }
  body > .flex {
    align-items: center;
    background-color: white;
  }
  .flex {
    display: flex;
  }
  #qr {
    order: 2;
  }
  #qr img[src] {
    animation: pop 0.35s;
    animation-timing-function: ease-out;
    cursor: pointer;
  }
  #qr img:not([height]) {
    height: 204px;
    width: 204px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><rect fill='#bbb' x='0' y='0' width='6' height='6'/><rect fill='#bbb' x='6' y='6' width='6' height='6'/></svg>");
    pointer-events: none;
  }
  #qr figcaption {
    display: none;
  }
  .flex > * {
    flex: 1 50%;
    box-sizing: border-box;
    font-size: 1em;
  }
  .center {
    text-align: center;
    margin: 2rem 0;
  }
  #about {
    color: #eee;
    text-shadow: black 0 1px;
    text-align: center;
    border-top: thin solid #ddd;
    padding: 1em;
    display: flex;
  }
  #about a {
    text-shadow: none;
  }
  #about > p,
  details {
    flex: 0 0 50%;
  }
  button[type=submit] {
    max-width: 30vw;
    margin: 0.5em 0;
    cursor: pointer;
    border-radius: 0.4em;
    background-color: seagreen;
    color: white;
    padding: 0.5em 0;
    border: none;
  }
  button[type=submit]:hover {
    background-color: mediumseagreen;
  }
  button[type=submit]:focus {
    outline: none;
  }
  .form {
    order: 1;
    text-align: center;
  }
  form.flex {
    flex-wrap: wrap;
    max-width: 50vw;
    justify-content: center;
    align-items: center;
  }
  label {
    text-align: right;
    padding-right: 1em;
  }
  input {
    appearance: none;
    -webkit-appearance: none;
    border: thin #888 solid;
    margin: 0.2em 0;
    padding: 0.4em;
  }
  form.flex > label,
  form.flex > input {
    flex: 0 1 40%;
  }
  form.flex > button {
    flex: 0 0 100%;
  }
  noscript p {
    position: fixed;
    top: 1em;
    left: 1em;
    right: 1em;
    text-align: center;
    background-color: rgba(255, 255, 50, 0.7);
    border: thin goldenrod solid;
    padding: 0.5em 0;
  }
  details {
    text-align: left;
  }
  details summary {
    cursor: pointer;
  }
  details summary:focus {
    outline: none;
  }
  details ol {
    margin: 0;
    padding-left: 1em;
  }
  details dd {
    padding: 0.5em 0;
  }
  details dt {
    padding-left: 1em;
  }
}
@media screen and (max-width:650px) {
  body > .flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  form.flex > label,
  form.flex > input {
    flex: 0 0 80%;
  }
  label {
    text-align: left;
    padding: 0.4em;
  }
  details {
    padding-bottom: 1em;
    border-bottom: thin ridge #ddd;
  }
  #qr {
    flex: 0 0 100%;
    order: 0;
  }
  .form {
    flex: 0 0 100%;
    order: 0;
    margin-bottom: 2em;
  }
  form.flex {
    justify-content: space-around;
    max-width: unset;
  }
  #about {
    display: block;
  }
}
@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media print {
  * {
    margin: 0;
    box-sizing: border-box;
    font-family:
      -apple-system,
      "Helvetica Neue",
      "Arial",
      "Tahoma";
  }
  div.form,
  #about {
    display: none;
  }
  body > .flex {
    height: 100vh;
    width: 100vw;
  }
  .center {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
  }
  figcaption {
    margin-top: 2em;
    text-align: center;
  }
}
/*# sourceMappingURL=index-QP2AH4VW.css.map */
